In [3]:
!pip install quandl

Collecting quandl
  Downloading https://files.pythonhosted.org/packages/c2/58/9f0e69d836045e3865d263e9ed49f42b23a58526fdabb30f74c430baee3f/Quandl-3.6.0-py2.py3-none-any.whl
Collecting inflection>=0.3.1
  Downloading https://files.pythonhosted.org/packages/59/91/aa6bde563e0085a02a435aa99b49ef75b0a4b062635e606dab23ce18d720/inflection-0.5.1-py2.py3-none-any.whl
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.19.5)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from quandl) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from quandl) (1.15.0)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.1.5)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.6/dist-packages (from quandl) (2.23.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.6/dist-packages (from quandl) (8.6.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.14->quandl) (2018.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.5.1 quandl-3.6.0

In [4]:
import pandas as pd
import quandl as q

In [5]:
# set the API key
q.ApiConfig.api_key = ""  # It is cofidential

In [15]:
#send a get request to query Microsoft's end of day stock prices from 1st #Jan, 2010 to 1st Jan, 2019

df = q.get("EOD/AAPL", start_date="2010-01-01", end_date="2021-01-01")

In [16]:
# look at the first 5 rows of the dataframe

df.head()

              Open    High     Low  ...    Adj_Low  Adj_Close   Adj_Volume
Date                                ...
2013-09-03  493.10  500.60  487.35  ...  15.437510  15.476472  331928800.0
2013-09-04  499.56  502.24  496.28  ...  15.720381  15.796753  345032800.0
2013-09-05  500.25  500.68  493.64  ...  15.636755  15.688388  236367600.0
2013-09-06  498.44  499.38  489.95  ...  15.519869  15.781833  359525600.0
2013-09-09  505.00  507.92  503.48  ...  15.948451  16.033661  340687200.0

[5 rows x 12 columns]

In [12]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividend', 'Split',
       'Adj_Open', 'Adj_High', 'Adj_Low', 'Adj_Close', 'Adj_Volume'],
      dtype='object')

In [13]:
df.shape

(1090, 12)

In [17]:

# High Low Percentage
df["HL_PCT"] = (df["Adj_High"] - df["Adj_Low"]) / df["Adj_Close"] * 100   

# Percentage Change
df["PCT_change"] = (df["Adj_Close"] - df["Adj_Open"]) / df["Adj_Open"] *100

In [18]:
df.head(3)

              Open    High     Low  ...   Adj_Volume    HL_PCT  PCT_change
Date                                ...
2013-09-03  493.10  500.60  487.35  ...  331928800.0  2.711941   -0.916650
2013-09-04  499.56  502.24  496.28  ...  345032800.0  1.195129   -0.173953
2013-09-05  500.25  500.68  493.64  ...  236367600.0  1.421447   -0.995502

[3 rows x 14 columns]

In [20]:
df.describe()

              Open         High  ...       HL_PCT   PCT_change
count  1090.000000  1090.000000  ...  1090.000000  1090.000000
mean    194.564537   196.114735  ...     1.649472     0.026796
std     160.562848   161.812898  ...     0.972525     1.147303
min      90.000000    90.700000  ...     0.438218    -6.633066
25%     108.042500   108.942500  ...     1.033811    -0.603549
50%     121.585000   122.504950  ...     1.456946     0.046380
75%     156.905000   157.809625  ...     1.965879     0.705480
max     649.900000   651.260000  ...    16.291699     8.696110

[8 rows x 14 columns]

In [22]:
df.shape

(1090, 14)

In [33]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df)
final_df = pd.DataFrame(scaled_data, columns = df.columns)

In [34]:
train = final_df.iloc[:1060, :]
test = final_df.iloc[1060:, :]

In [35]:
X_train = train.drop("Close", 1)
y_train = train.Close

X_test = test.drop("Close", 1)
y_test = test.Close

In [36]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [37]:
lin_reg.score(X_train, y_train)

0.9999782587935716

In [38]:
lin_reg.score(X_test, y_test)

0.9325924416363387

In [39]:
y_pred = lin_reg.predict(X_test)

In [40]:
from sklearn.metrics import mean_squared_error

In [42]:
import numpy as np

np.sqrt(mean_squared_error(y_test, y_pred))

0.0035050098988081784

In [43]:
mean_squared_error(y_test, y_pred)

1.2285094390743316e-05